/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../scss/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../scss/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../scss/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../scss/_normalize.scss */
nav ul,
nav ol {
  display: none;
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../scss/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 66, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../scss/_site.scss */
html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 21, ../scss/_site.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANUlEQVQYV2NkAILv37//5+TkZPz06dN/Pj4+RmQ+CgddEsRnBJmATSdMMVZjkU0CmzDAbgAAqzt/e+h23NwAAAAASUVORK5CYII=);
}

/* line 42, ../scss/_site.scss */
img,
embed,
object,
video {
  max-width: 100%;
}

/* line 47, ../scss/_site.scss */
.page {
  *zoom: 1;
  max-width: 29em;
  _width: 29em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 61em) {
  /* line 47, ../scss/_site.scss */
  .page {
    max-width: 59em;
    _width: 59em;
  }
}

/* line 59, ../scss/_site.scss */
.clearfix:before
.clearfix:after {
  content: "";
  display: table;
}

/* line 65, ../scss/_site.scss */
.clearfix:after {
  display: both;
}

/* line 78, ../scss/_site.scss */
header {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  margin-bottom: 1.5em;
}

/* line 99, ../scss/_site.scss */
.main-content {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
}

/* line 107, ../scss/_site.scss */
aside {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  text-align: center;
}

/* line 119, ../scss/_site.scss */
footer[role="contentinfo"] {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
}

/* Font Awesome: http://fortawesome.github.com/Font-Awesome/

License
-------------------------------------------------------
The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
http://creativecommons.org/licenses/by/3.0/ A mention of
'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
source code is considered acceptable attribution (most common on the web).
If human readable source code is not available to the end user, a mention in
an 'About' or 'Credits' screen is considered acceptable (most common in desktop
or mobile software). */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../assets/fonts/fontawesome-webfont.eot");
  src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../../assets/fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../scss/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 40, ../scss/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/* line 44, ../scss/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 52, ../scss/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 57, ../scss/_font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 63, ../scss/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 70, ../scss/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 76, ../scss/_font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 82, ../scss/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 86, ../scss/_font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 90, ../scss/_font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 98, ../scss/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 99, ../scss/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 100, ../scss/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 101, ../scss/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 102, ../scss/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 103, ../scss/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 104, ../scss/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 105, ../scss/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 106, ../scss/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 107, ../scss/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 108, ../scss/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 109, ../scss/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 110, ../scss/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 111, ../scss/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 112, ../scss/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 113, ../scss/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 114, ../scss/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 115, ../scss/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 116, ../scss/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 117, ../scss/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 118, ../scss/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 119, ../scss/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 120, ../scss/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 121, ../scss/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 122, ../scss/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 123, ../scss/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 124, ../scss/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 125, ../scss/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 126, ../scss/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 127, ../scss/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 129, ../scss/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 130, ../scss/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 131, ../scss/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 132, ../scss/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 133, ../scss/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 134, ../scss/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 135, ../scss/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 136, ../scss/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 137, ../scss/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 138, ../scss/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 139, ../scss/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 140, ../scss/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 141, ../scss/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 142, ../scss/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 143, ../scss/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 144, ../scss/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 145, ../scss/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 146, ../scss/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 147, ../scss/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 148, ../scss/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 149, ../scss/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 150, ../scss/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 151, ../scss/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 152, ../scss/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 153, ../scss/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 154, ../scss/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 155, ../scss/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 156, ../scss/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 157, ../scss/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 158, ../scss/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 159, ../scss/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 160, ../scss/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 161, ../scss/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 162, ../scss/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 163, ../scss/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 164, ../scss/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 165, ../scss/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 166, ../scss/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 167, ../scss/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 168, ../scss/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 169, ../scss/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 170, ../scss/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 171, ../scss/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 172, ../scss/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 173, ../scss/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 175, ../scss/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 176, ../scss/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 177, ../scss/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 178, ../scss/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 179, ../scss/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 180, ../scss/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 181, ../scss/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 182, ../scss/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 183, ../scss/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 184, ../scss/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 185, ../scss/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 186, ../scss/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 187, ../scss/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 188, ../scss/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 189, ../scss/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 191, ../scss/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 192, ../scss/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 193, ../scss/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 194, ../scss/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 195, ../scss/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 196, ../scss/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 197, ../scss/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 198, ../scss/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 199, ../scss/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 200, ../scss/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 201, ../scss/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 202, ../scss/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 203, ../scss/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 204, ../scss/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 205, ../scss/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 206, ../scss/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 207, ../scss/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 208, ../scss/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 209, ../scss/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 210, ../scss/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 211, ../scss/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 212, ../scss/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 213, ../scss/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 214, ../scss/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 215, ../scss/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 216, ../scss/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 217, ../scss/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 218, ../scss/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 219, ../scss/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 220, ../scss/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 221, ../scss/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 222, ../scss/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 223, ../scss/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 224, ../scss/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 225, ../scss/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 226, ../scss/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 227, ../scss/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 228, ../scss/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 229, ../scss/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 230, ../scss/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 231, ../scss/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 232, ../scss/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 233, ../scss/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 234, ../scss/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 235, ../scss/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 236, ../scss/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 237, ../scss/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 238, ../scss/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 239, ../scss/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 240, ../scss/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 16, ../scss/_typography.scss */
p,
ol,
ul,
dl,
address {
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
  font-family: "PT Sans", sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  text-shadow: white 1px 1px 0;
}
/* line 24, ../scss/_typography.scss */
p small,
ol small,
ul small,
dl small,
address small {
  color: #bfbfbf;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2em;
}

/* line 31, ../scss/_typography.scss */
.readable p {
  font-size: 1.125em;
  line-height: 1.333em;
}
.readable {
  padding-top: 40px;
}
/* line 42, ../scss/_typography.scss */
a {
  color: #404040;
  text-decoration: none;
  border-bottom: dashed 1px #bfbfbf;
}

/* line 48, ../scss/_typography.scss */
a:hover {
  color: #e06c1f;
  border-bottom: dashed 1px #e06c1f;
}

/* line 58, ../scss/_typography.scss */
.lead {
  margin-bottom: 24px;
  font-family: 'Open Sans';
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
  font-style: italic;
}

/* line 67, ../scss/_typography.scss */
.lead em {
  font-style: normal;
  font-weight: 600px;
  text-transform: uppercase;
  color: #dc5d41;
}

/* line 75, ../scss/_typography.scss */
.question .lead {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 84, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 94, ../scss/_typography.scss */
h1 {
  padding-top: 1.5em;
  font-size: 2em;
  line-height: 1.5em;
}

/* line 100, ../scss/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  line-height: 20px;
  margin-left: .5em;
  margin-right: 1em;
}

/* line 108, ../scss/_typography.scss */
h3 {
  font-size: 1.313em;
  line-height: 2.286em;
  margin-left: 1em;
  color: #dc5d41;
}

/* line 115, ../scss/_typography.scss */
h4 {
  margin-top: 1.333em;
  font-size: 0.875em;
  line-height: 1.714em;
  margin-left: 1em;
}

/* line 122, ../scss/_typography.scss */
h5 {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 128, ../scss/_typography.scss */
h6 {
  margin-top: 1.714em;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 141, ../scss/_typography.scss */
blockquote {
  color: gray;
  margin-top: 1.333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.333em;
  font-size: 1.125em;
  line-height: 1.333em;
  margin-left: 1em;
  padding-left: 1em;
  font-family: "PT Serif", serif;
  font-style: italic;
}

/* line 152, ../scss/_typography.scss */
q {
  quotes: none;
}

/* line 160, ../scss/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 166, ../scss/_typography.scss */
blockquote:before {
  font-family: "PT Serif", serif;
  font-style: normal;
  content: "“";
  font-size: 3.429em;
  line-height: 1em;
  text-indent: -0.5em;
  float: left;
  opacity: .3;
}

/* line 177, ../scss/_typography.scss */
cite {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  text-align: right;
  margin-right: 4em;
}
/* line 186, ../scss/_typography.scss */
cite:before {
  content: "- ";
}

/* line 198, ../scss/_typography.scss */
ul {
  margin: 0 0 0 1em;
  list-style-position: outside;
  list-style-type: disc;
}
/* line 204, ../scss/_typography.scss */
ul .noStyle {
  list-style-type: none;
}

/* line 210, ../scss/_typography.scss */
li {
  margin-bottom: 0.75em;
}

/* line 215, ../scss/_typography.scss */
ol {
  margin: 0 0 0 1.3em;
  padding: 0;
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 226, ../scss/_typography.scss */
dl,
dd {
  margin-bottom: 24px;
}

/* line 231, ../scss/_typography.scss */
dt {
  font-weight: bold;
}

/* line 239, ../scss/_typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
/* line 247, ../scss/_typography.scss */
.dl-horizontal dd {
  margin-left: 22.78%;
}

/* line 258, ../scss/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted #44170d;
  cursor: help;
}

/* line 264, ../scss/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 269, ../scss/_typography.scss */
dfn {
  font-style: italic;
}

/* line 274, ../scss/_typography.scss */
ins {
  background-color: white;
  color: #404040;
  text-decoration: none;
}

/* line 281, ../scss/_typography.scss */
mark {
  background-color: white;
  color: #404040;
  font-style: italic;
  font-weight: bold;
}

/* line 292, ../scss/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 298, ../scss/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 306, ../scss/_typography.scss */
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 2em;
  line-height: 0;
  vertical-align: 24px;
}

/* line 314, ../scss/_typography.scss */
sup {
  top: -0.5em;
}

/* line 319, ../scss/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 58, ../scss/_alerts.scss */
.badge {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  border-color: #e6e6e6;
  color: gray;
  border-style: solid;
  border-width: 0.063em;
  padding: 0.088em;
  border-left-style: solid;
  border-left-width: 0.063em;
  padding-left: 0.387em;
  border-right-style: solid;
  border-right-width: 0.063em;
  padding-right: 0.387em;
  font-size: 0.875em;
  line-height: 1.714em;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  color: #404040;
}

/* line 69, ../scss/_alerts.scss */
.badge-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76e476), color-stop(100%, #4cdb4c));
  background-image: -webkit-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -moz-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -o-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -ms-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  border-color: #4cdb4c;
  color: #1e571e;
}

/* line 74, ../scss/_alerts.scss */
.badge-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe57f), color-stop(100%, #ffdb4c));
  background-image: -webkit-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -moz-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -o-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -ms-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  border-color: #ffdb4c;
  color: #66571e;
}

/* line 79, ../scss/_alerts.scss */
.badge-error {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e48a76), color-stop(100%, #db664c));
  background-image: -webkit-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: -moz-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: -o-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: -ms-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: linear-gradient(top, #e48a76 0%, #db664c 100%);
  border-color: #db664c;
  color: #57281e;
}

/* line 84, ../scss/_alerts.scss */
.badge-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -ms-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: linear-gradient(top, #696969 0%, #404040 100%);
  border-color: #404040;
  color: white;
}

/* line 89, ../scss/_alerts.scss */
.badge-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90d2e9), color-stop(100%, #4cb7db));
  background-image: -webkit-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -moz-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -o-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -ms-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  border-color: #4cb7db;
  color: #1e4957;
}

/* line 95, ../scss/_alerts.scss */
.alert {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  border-color: #e6e6e6;
  color: gray;
}

/* line 101, ../scss/_alerts.scss */
.alert {
  position: relative;
  margin: 0 auto 0 auto;
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: default;
}
/* line 114, ../scss/_alerts.scss */
.alert .close {
  float: right;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  right: -21px;
  top: -26px;
  color: inherit;
}
/* line 127, ../scss/_alerts.scss */
.alert h4 {
  margin: 0;
}

/* line 136, ../scss/_alerts.scss */
.alert-block .close {
  color: inherit;
}

/* line 143, ../scss/_alerts.scss */
.alert-striped {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQYV2P8/3rmfwZ8QAQiyYhXIVQRfoVIihje4DIRTRF2E7EowlSIQxGqQjyKEAoJKIIo/I8UjkDf4QIIhXgUgTQDAN+IK0dR/tc3AAAAAElFTkSuQmCC);
  border-color: #ffdb4c;
  color: #66571e;
}
/* line 147, ../scss/_alerts.scss */
.alert-striped .close {
  color: inherit;
}

/* line 155, ../scss/_alerts.scss */
.alert-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76e476), color-stop(100%, #4cdb4c));
  background-image: -webkit-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -moz-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -o-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -ms-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  border-color: #4cdb4c;
  color: #1e571e;
}
/* line 159, ../scss/_alerts.scss */
.alert-success .close {
  color: inherit;
}

/* line 166, ../scss/_alerts.scss */
.alert-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe57f), color-stop(100%, #ffdb4c));
  background-image: -webkit-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -moz-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -o-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -ms-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  border-color: #ffdb4c;
  color: #66571e;
}
/* line 170, ../scss/_alerts.scss */
.alert-warning .close {
  color: inherit;
}

/* line 177, ../scss/_alerts.scss */
.alert-error {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e48a76), color-stop(100%, #db664c));
  background-image: -webkit-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: -moz-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: -o-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: -ms-linear-gradient(top, #e48a76 0%, #db664c 100%);
  background-image: linear-gradient(top, #e48a76 0%, #db664c 100%);
  border-color: #db664c;
  color: #57281e;
}
/* line 181, ../scss/_alerts.scss */
.alert-error .close {
  color: inherit;
}

/* line 187, ../scss/_alerts.scss */
.alert-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90d2e9), color-stop(100%, #4cb7db));
  background-image: -webkit-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -moz-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -o-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -ms-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  border-color: #4cb7db;
  color: #1e4957;
}
/* line 191, ../scss/_alerts.scss */
.alert-info .close {
  color: inherit;
}

/* line 198, ../scss/_alerts.scss */
.alert-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -ms-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: linear-gradient(top, #696969 0%, #404040 100%);
  border-color: #404040;
  color: white;
}
/* line 202, ../scss/_alerts.scss */
.alert-inverse .close {
  color: inherit;
}

/* line 8, ../scss/_blocks.scss */
.blck {
  margin: 12px;
}

/* line 19, ../scss/_blocks.scss */
.bd, .ft, .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

/* line 27, ../scss/_blocks.scss */
.island, .well {
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  border-color: #bfbfbf;
  margin-bottom: 1.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eca697), color-stop(100%, #f0b9ad));
  background-image: -webkit-linear-gradient(top, #eca697 0%, #f0b9ad 100%);
  background-image: -moz-linear-gradient(top, #eca697 0%, #f0b9ad 100%);
  background-image: -o-linear-gradient(top, #eca697 0%, #f0b9ad 100%);
  background-image: -ms-linear-gradient(top, #eca697 0%, #f0b9ad 100%);
  background-image: linear-gradient(top, #eca697 0%, #f0b9ad 100%);
  margin-bottom: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 13, ../scss/_texture.scss */
.island p, .well p {
  margin: 0;
}
/* line 34, ../scss/_blocks.scss */
.island > :last-child, .well > :last-child {
  /* Remove the margin from the last child of a boxed off area so that we don't end up with compounded margin/padding spacings. */
  margin-bottom: 0;
}

/* line 41, ../scss/_blocks.scss */
.island-large {
  border-style: solid;
  border-width: 0.063em;
  padding: 2.938em;
  border-color: #bfbfbf;
}

/* line 47, ../scss/_blocks.scss */
form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
}

/* line 52, ../scss/_blocks.scss */
form fieldset.check label {
  display: inline;
  font-weight: normal;
}

/* line 57, ../scss/_blocks.scss */
form fieldset.radio ul li label {
  display: inline;
  font-weight: normal;
}

/* line 64, ../scss/_blocks.scss */
.icon a, nav[role="navigation"] a {
  border-bottom: none;
}

/* line 73, ../scss/_blocks.scss */
.logo {
  margin-left: 17.241%;
  margin-right: 17.241%;
}
/* line 78, ../scss/_blocks.scss */
.logo img {
  display: block;
  width: 100%;
  margin: 24px 0 -24px;
  position: relative;
  z-index: 10;
}

/* line 89, ../scss/_blocks.scss */
.main {
  list-style: none;
}
/* line 93, ../scss/_blocks.scss */
.main a {
  display: block;
  text-decoration: none;
}

/* line 101, ../scss/_blocks.scss */
ul {
  margin: 0;
}

/* line 108, ../scss/_blocks.scss */
nav [role="navigation"] {
  width: 98%;
  margin: 0 auto 0 auto;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.333em;
  margin-top: 1.333em;
}
/* line 117, ../scss/_blocks.scss */
nav [role="navigation"] li {
  display: inline;
  float: left;
  margin-left: 1em;
}
/* line 124, ../scss/_blocks.scss */
nav [role="navigation"] a {
  display: block;
  font-size: 1.125em;
  line-height: 1.333em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 131, ../scss/_blocks.scss */
nav [role="navigation"] a:hover {
  border-color: #dc5d41;
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  padding-bottom: 0.175em;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.5);
}
/* line 138, ../scss/_blocks.scss */
nav [role="navigation"] a:active {
  border-color: #dc5d41;
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  padding-bottom: 0.175em;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.5);
}

/* line 147, ../scss/_blocks.scss */
ul li.nav-current a {
  border-color: #dc5d41;
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  padding-bottom: 0.175em;
  text-shadow: 0 1px #dc5d41 1px;
}

/* line 158, ../scss/_blocks.scss */
.featured {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  text-align: center;
  margin-bottom: 1.5em;
}

/* line 168, ../scss/_blocks.scss */
div [role="main"] {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
}
/* line 172, ../scss/_blocks.scss */
div [role="main"] .recentProjects {
  width: 48.276%;
  float: left;
  margin-right: 3.448%;
  display: inline;
}
/* line 176, ../scss/_blocks.scss */
div [role="main"] .recentProjects:nth-child(2n) {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 187, ../scss/_blocks.scss */
footer[role="contentinfo"] {
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 1.438em;
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  font-size: 0.875em;
  line-height: 0.857em;
}
/* line 193, ../scss/_blocks.scss */
footer[role="contentinfo"] li {
  float: left;
  padding-right: 10px;
}
/* line 199, ../scss/_blocks.scss */
footer[role="contentinfo"] address {
  text-align: center;
}
/* line 203, ../scss/_blocks.scss */
footer[role="contentinfo"] address li {
  margin-right: 0.5em;
}
/* line 208, ../scss/_blocks.scss */
footer[role="contentinfo"] address li:first-child {
  border-right: 1px solid #bfbfbf;
}
/* line 214, ../scss/_blocks.scss */
footer[role="contentinfo"] .nav {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
}
/* line 218, ../scss/_blocks.scss */
footer[role="contentinfo"] .nav li {
  display: inline;
  margin: 0 0.5em 0 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 16%;
  text-align: center;
  border-right: 1px solid #bfbfbf;
}
/* line 228, ../scss/_blocks.scss */
footer[role="contentinfo"] .nav li:last-child {
  border: none;
}
/* line 236, ../scss/_blocks.scss */
footer[role="contentinfo"] p {
  font-size: 0.75em;
  line-height: 1em;
  margin: 0;
  display: block;
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-align: center;
}

/* line 8, ../scss/_elements.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #44170d;
  border-bottom: 1px solid white;
}

/* line 19, ../scss/_elements.scss */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 25, ../scss/_elements.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 30, ../scss/_elements.scss */
figure {
  margin-bottom: 24px;
}
/* line 33, ../scss/_elements.scss */
figure img {
  margin-bottom: 6px;
}
/* line 36, ../scss/_elements.scss */
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: gray;
}

/* line 45, ../scss/_elements.scss */
.list-bordered {
  list-style-type: none;
  margin: 0 0 24px 0;
  padding: 0;
}
/* line 50, ../scss/_elements.scss */
.list-bordered li {
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px dashed #44170d;
}
/* line 55, ../scss/_elements.scss */
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

/* line 64, ../scss/_elements.scss */
.icn-facebook {
  background: url(../../assets/image-base/social.png) 0px 0px no-repeat;
  display: inline-block;
  width: 25px;
  height: 23px;
}

/* line 71, ../scss/_elements.scss */
.icn-rss {
  background: url(../../assets/image-base/social.png) 0px -24px no-repeat;
  display: inline-block;
  width: 25px;
  height: 24px;
}

/* line 78, ../scss/_elements.scss */
.icn-twitter {
  background: url(../../assets/image-base/social.png) -26px 0px no-repeat;
  display: inline-block;
  width: 25px;
  height: 23px;
}

/* line 89, ../scss/_elements.scss */
.ri-grid {
  margin: 30px auto 30px;
  position: relative;
  height: auto;
}

/* line 95, ../scss/_elements.scss */
.ri-grid-loading {
  width: 100px;
  height: 100px;
  background: transparent url(../../images/loading.gif) no-repeat center center;
}

/* line 101, ../scss/_elements.scss */
.ri-grid ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 112, ../scss/_elements.scss */
.ri-grid ul:before,
.ri-grid ul:after {
  content: '';
  display: table;
}

/* line 117, ../scss/_elements.scss */
.ri-grid ul:after {
  clear: both;
}

/* line 121, ../scss/_elements.scss */
.ri-grid ul {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 125, ../scss/_elements.scss */
.ri-grid ul li {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  background: #000;
}

/* line 140, ../scss/_elements.scss */
.ri-grid ul li a {
  display: block;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Grid wrapper sizes */
/* line 160, ../scss/_elements.scss */
.ri-grid-size-1 {
  width: 100%;
}

/* line 163, ../scss/_elements.scss */
.ri-grid-size-2 {
  width: 100%;
}

/* line 166, ../scss/_elements.scss */
.ri-grid-size-3 {
  width: 100%;
  margin-top: 0px;
}

/* Shadow style */
/* line 173, ../scss/_elements.scss */
.ri-shadow:after,
.ri-shadow:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 190, ../scss/_elements.scss */
.ri-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 201, ../scss/_elements.scss */
.ri-grid-loading:after,
.ri-grid-loading:before {
  display: none;
}

/* line 209, ../scss/_elements.scss */
#full-width-slider {
  width: 100%;
}

/* line 212, ../scss/_elements.scss */
.coloredBlock {
  padding: 12px;
  background: rgba(255, 0, 0, 0.6);
  color: #FFF;
  width: 200px;
  left: 20%;
  top: 5%;
}

/* line 220, ../scss/_elements.scss */
.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 25%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px;
}

/* line 232, ../scss/_elements.scss */
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  left: 30px;
  right: auto;
}

/* line 239, ../scss/_elements.scss */
.infoBlock h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
}

/* line 245, ../scss/_elements.scss */
.infoBlock p {
  font-size: 14px;
  margin: 4px 0 0;
}

/* line 249, ../scss/_elements.scss */
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}

/* line 253, ../scss/_elements.scss */
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25;
}

/* line 267, ../scss/_elements.scss */
.photosBy a {
  color: #000;
}

/* line 270, ../scss/_elements.scss */
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

@media screen and (min-width: 960px) and (min-height: 660px) {
  /* line 277, ../scss/_elements.scss */
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
    height: 520px !important;
  }
}
@media screen and (min-width: 960px) and (min-height: 1000px) {
  /* line 284, ../scss/_elements.scss */
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
    height: 660px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  /* line 290, ../scss/_elements.scss */
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }

  /* line 293, ../scss/_elements.scss */
  .infoBlock {
    padding: 10px;
    height: 100%;
    max-height: 100%;
    min-width: 40%;
    left: 0;
    top: 0;
    right: auto;
    font-size: 12px;
  }

  /* line 303, ../scss/_elements.scss */
  .infoBlock h3 {
    font-size: 14px;
    line-height: 17px;
  }
}
/* line 11, ../scss/_forms.scss */
form {
  margin-bottom: 0.75em;
}

/* line 20, ../scss/_forms.scss */
form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 0.75em;
}
/* line 28, ../scss/_forms.scss */
form legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 1.125em;
  line-height: 1.333em;
  color: #404040;
  border: 0;
}
/* line 38, ../scss/_forms.scss */
form label {
  display: block;
  margin-left: 1px;
  vertical-align: top;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 74, ../scss/_forms.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: block;
  height: 24px;
  padding: 0.25em;
  margin-top: 0.75em;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 24px;
  color: gray;
}

/* line 86, ../scss/_forms.scss */
textarea {
  height: auto;
}

/* line 107, ../scss/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: block;
  background-color: #fffefe;
  border-style: solid;
  border-width: 0.063em;
  padding: 0.688em;
  border-color: #e68d7a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(51, 51, 51, 0.3);
  box-shadow: inset 0px 0px 3px 1px rgba(51, 51, 51, 0.3);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 121, ../scss/_forms.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #e2a89b;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  background-color: white;
  -webkit-box-shadow: inset 0 0 3px 1px 0;
  -moz-box-shadow: inset 0 0 3px 1px 0;
  box-shadow: inset 0 0 3px 1px 0;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(51, 51, 51, 0.3);
}

/* line 141, ../scss/_forms.scss */
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 0.25em;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 150, ../scss/_forms.scss */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 0.5em;
}

/* line 156, ../scss/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
  height: 1em;
  width: 1em;
}

/* line 174, ../scss/_forms.scss */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #e6e6e6;
  border-color: #bfbfbf;
}

/* line 186, ../scss/_forms.scss */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

/* line 197, ../scss/_forms.scss */
.help-block,
.help-inline {
  color: gray;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 204, ../scss/_forms.scss */
.help-block {
  display: block;
  margin-bottom: 12px;
}

/* line 210, ../scss/_forms.scss */
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

/* line 15, ../scss/_buttons.scss */
.btn {
  font-size: 0.875em;
  line-height: 1.714em;
  display: inline-block;
  min-width: 75px;
  min-height: 30px;
  border-style: solid;
  border-width: 0.063em;
  padding: 0.688em;
  margin-top: 0.75em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0.75em;
  border-style: solid;
  border-color: #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url("/assets/image-base/sassy-ie-overlay.png") repeat-x bottom left #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(70%, #bfbfbf));
  background-image: -webkit-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: -moz-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: -o-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: -ms-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: linear-gradient(#e6e6e6, #bfbfbf 70%);
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #404040;
  text-shadow: #e6e6e6 0 1px 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

/* line 36, ../scss/_buttons.scss */
.btn:hover {
  -webkit-box-shadow: inset 0 1px 0 0 #e6e6e6;
  -moz-box-shadow: inset 0 1px 0 0 #e6e6e6;
  box-shadow: inset 0 1px 0 0 #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(70%, #b3b3b3));
  background-image: -webkit-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: -moz-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: -o-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: -ms-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: linear-gradient(#d9d9d9, #b3b3b3 70%);
  color: #404040;
  text-decoration: none;
}

/* line 44, ../scss/_buttons.scss */
.btn:active {
  -webkit-box-shadow: #d1d1d1 0 1px 2px inset;
  -moz-box-shadow: #d1d1d1 0 1px 2px inset;
  box-shadow: #d1d1d1 0 1px 2px inset;
  color: #404040;
  text-decoration: none;
}

/* line 53, ../scss/_buttons.scss */
.btn.disabled, .btn[disabled] {
  opacity: 0.6;
  color: gray;
  background: #e6e6e6;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

/* line 66, ../scss/_buttons.scss */
.btnYes, .btnNo {
  color: white;
  width: 28%;
  float: left;
  height: 1.625em;
  cursor: pointer;
  margin-top: 1.5em;
}

/* line 76, ../scss/_buttons.scss */
.btnYes {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66e3ff), color-stop(100%, #00d1ff));
  background: -webkit-linear-gradient(#66e3ff, #00d1ff);
  background: -moz-linear-gradient(#66e3ff, #00d1ff);
  background: -o-linear-gradient(#66e3ff, #00d1ff);
  background: -ms-linear-gradient(#66e3ff, #00d1ff);
  background: linear-gradient(#66e3ff, #00d1ff);
  border: 1px solid #00cdfa;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: black, 0, 1px, 0, 0, inset;
  text-shadow: 0px 1px 1px #006880;
}
/* line 86, ../scss/_buttons.scss */
.btnYes:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4ddfff), color-stop(100%, #00bce6));
  background: -webkit-linear-gradient(#4ddfff, #00bce6);
  background: -moz-linear-gradient(#4ddfff, #00bce6);
  background: -o-linear-gradient(#4ddfff, #00bce6);
  background: -ms-linear-gradient(#4ddfff, #00bce6);
  background: linear-gradient(#4ddfff, #00bce6);
  border: 1px solid #00bce6;
}
/* line 92, ../scss/_buttons.scss */
.btnYes:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: inset 0 2px 5px rgba(51, 51, 51, 0.3);
  box-shadow: inset 0 2px 5px rgba(51, 51, 51, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #52e0ff), color-stop(100%, #00b8e0));
  background: -webkit-linear-gradient(#52e0ff, #00b8e0);
  background: -moz-linear-gradient(#52e0ff, #00b8e0);
  background: -o-linear-gradient(#52e0ff, #00b8e0);
  background: -ms-linear-gradient(#52e0ff, #00b8e0);
  background: linear-gradient(#52e0ff, #00b8e0);
  border: 1px solid #00b8e0;
}

/* line 101, ../scss/_buttons.scss */
.btnNo {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffab99), color-stop(100%, #ff5833));
  background: -webkit-linear-gradient(#ffab99, #ff5833);
  background: -moz-linear-gradient(#ffab99, #ff5833);
  background: -o-linear-gradient(#ffab99, #ff5833);
  background: -ms-linear-gradient(#ffab99, #ff5833);
  background: linear-gradient(#ffab99, #ff5833);
  border: 1px solid #ff542e;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  text-shadow: #404040, 10% 0 -1 0;
  text-shadow: 0px 1px 1px #b32000;
}
/* line 111, ../scss/_buttons.scss */
.btnNo:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9780), color-stop(100%, #ff431a));
  background: -webkit-linear-gradient(#ff9780, #ff431a);
  background: -moz-linear-gradient(#ff9780, #ff431a);
  background: -o-linear-gradient(#ff9780, #ff431a);
  background: -ms-linear-gradient(#ff9780, #ff431a);
  background: linear-gradient(#ff9780, #ff431a);
  border: 1px solid #ff431a;
}
/* line 117, ../scss/_buttons.scss */
.btnNo:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: inset 0 2px 5px rgba(51, 51, 51, 0.3);
  box-shadow: inset 0 2px 5px rgba(51, 51, 51, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9b85), color-stop(100%, #ff3f14));
  background: -webkit-linear-gradient(#ff9b85, #ff3f14);
  background: -moz-linear-gradient(#ff9b85, #ff3f14);
  background: -o-linear-gradient(#ff9b85, #ff3f14);
  background: -ms-linear-gradient(#ff9b85, #ff3f14);
  background: linear-gradient(#ff9b85, #ff3f14);
  border: 1px solid #ff3f14;
}

/* line 9, ../scss/_tables.scss */
table {
  max-width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 19, ../scss/_tables.scss */
.table {
  width: 100%;
  margin-bottom: 24px;
}
/* line 24, ../scss/_tables.scss */
.table th,
.table td {
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  border-style: #bfbfbf;
  border-width: 0.063em;
  padding: 0.553em;
}
/* line 30, ../scss/_tables.scss */
.table th {
  font-weight: bold;
}
/* line 34, ../scss/_tables.scss */
.table thead th {
  vertical-align: bottom;
}
/* line 43, ../scss/_tables.scss */
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 47, ../scss/_tables.scss */
.table tbody + tbody {
  border-style: solid;
  border-width: 0.063em;
  padding: 0.688em;
}

/* line 61, ../scss/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 2em 2.5em;
}

/* line 72, ../scss/_tables.scss */
.table-bordered {
  margin-top: -0.1em;
  border-style: solid;
  border-width: 0.063em;
  padding: -0.033em;
  border-color: #bfbfbf;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 83, ../scss/_tables.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #bfbfbf;
}
/* line 95, ../scss/_tables.scss */
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 100, ../scss/_tables.scss */
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 104, ../scss/_tables.scss */
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 110, ../scss/_tables.scss */
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 115, ../scss/_tables.scss */
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 127, ../scss/_tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #e6e6e6;
}

/* line 140, ../scss/_tables.scss */
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #404040;
}

/* line 11, ../scss/_demo.scss */
.swatch {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  height: 96px;
}
/* line 17, ../scss/_demo.scss */
.swatch div {
  float: left;
  width: 25%;
  height: 100%;
}
/* line 23, ../scss/_demo.scss */
.swatch div span {
  display: block;
  width: 100%;
  height: 10px;
}

/* line 33, ../scss/_demo.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 40, ../scss/_demo.scss */
.swatch-base div:nth-child(1) {
  background-color: #dc5d41;
}
/* line 44, ../scss/_demo.scss */
.swatch-base div:nth-child(1) span {
  background-color: #d1583d;
}

/* line 50, ../scss/_demo.scss */
.swatch-base div:nth-child(2) {
  background-color: #e68d7a;
}
/* line 54, ../scss/_demo.scss */
.swatch-base div:nth-child(2) span {
  background-color: #da8573;
}

/* line 60, ../scss/_demo.scss */
.swatch-base div:nth-child(3) {
  background-color: #b04a34;
}
/* line 64, ../scss/_demo.scss */
.swatch-base div:nth-child(3) span {
  background-color: #a74631;
}

/* line 70, ../scss/_demo.scss */
.swatch-base div:nth-child(4) {
  background-color: #ff2e00;
}
/* line 74, ../scss/_demo.scss */
.swatch-base div:nth-child(4) span {
  background-color: #f22b00;
}

/* line 84, ../scss/_demo.scss */
.comp-base div:nth-child(1) {
  background-color: #ff2e00;
}
/* line 88, ../scss/_demo.scss */
.comp-base div:nth-child(1) span {
  background-color: #f22b00;
}

/* line 94, ../scss/_demo.scss */
.comp-base div:nth-child(2) {
  background-color: #00d1ff;
}
/* line 98, ../scss/_demo.scss */
.comp-base div:nth-child(2) span {
  background-color: #00c6f2;
}

/* line 104, ../scss/_demo.scss */
.comp-base div:nth-child(3) {
  background-color: #ff5833;
}
/* line 108, ../scss/_demo.scss */
.comp-base div:nth-child(3) span {
  background-color: #f25330;
}

/* line 114, ../scss/_demo.scss */
.comp-base div:nth-child(4) {
  background-color: #cc2500;
}
/* line 118, ../scss/_demo.scss */
.comp-base div:nth-child(4) span {
  background-color: #c12300;
}

/* line 127, ../scss/_demo.scss */
.info-base div:nth-child(1) {
  background-color: #4cb7db;
}
/* line 131, ../scss/_demo.scss */
.info-base div:nth-child(1) span {
  background-color: #48add0;
}

/* line 137, ../scss/_demo.scss */
.info-base div:nth-child(2) {
  background-color: #4c9fdb;
}
/* line 141, ../scss/_demo.scss */
.info-base div:nth-child(2) span {
  background-color: #4897d0;
}

/* line 147, ../scss/_demo.scss */
.info-base div:nth-child(3) {
  background-color: #4c87db;
}
/* line 151, ../scss/_demo.scss */
.info-base div:nth-child(3) span {
  background-color: #4880d0;
}

/* line 157, ../scss/_demo.scss */
.info-base div:nth-child(4) {
  background-color: #4c58db;
}
/* line 161, ../scss/_demo.scss */
.info-base div:nth-child(4) span {
  background-color: #4853d0;
}

/* line 171, ../scss/_demo.scss */
.error-base div:nth-child(1) {
  background-color: #db664c;
}
/* line 175, ../scss/_demo.scss */
.error-base div:nth-child(1) span {
  background-color: #d06048;
}

/* line 181, ../scss/_demo.scss */
.error-base div:nth-child(2) {
  background-color: #d06d57;
}
/* line 185, ../scss/_demo.scss */
.error-base div:nth-child(2) span {
  background-color: #c56752;
}

/* line 191, ../scss/_demo.scss */
.error-base div:nth-child(3) {
  background-color: #c57462;
}
/* line 195, ../scss/_demo.scss */
.error-base div:nth-child(3) span {
  background-color: #bb6e5d;
}

/* line 201, ../scss/_demo.scss */
.error-base div:nth-child(4) {
  background-color: #bb7b6c;
}
/* line 205, ../scss/_demo.scss */
.error-base div:nth-child(4) span {
  background-color: #b17466;
}

/* line 214, ../scss/_demo.scss */
.success-base div:nth-child(1) {
  background-color: #4cdb4c;
}
/* line 218, ../scss/_demo.scss */
.success-base div:nth-child(1) span {
  background-color: #48d048;
}

/* line 224, ../scss/_demo.scss */
.success-base div:nth-child(2) {
  background-color: #41e641;
}
/* line 228, ../scss/_demo.scss */
.success-base div:nth-child(2) span {
  background-color: #3dda3d;
}

/* line 234, ../scss/_demo.scss */
.success-base div:nth-child(3) {
  background-color: #36f136;
}
/* line 238, ../scss/_demo.scss */
.success-base div:nth-child(3) span {
  background-color: #33e433;
}

/* line 244, ../scss/_demo.scss */
.success-base div:nth-child(4) {
  background-color: #2cfb2c;
}
/* line 248, ../scss/_demo.scss */
.success-base div:nth-child(4) span {
  background-color: #29ee29;
}

/* line 258, ../scss/_demo.scss */
.warning-base div:nth-child(1) {
  background-color: #ffdb4c;
}
/* line 262, ../scss/_demo.scss */
.warning-base div:nth-child(1) span {
  background-color: #f2d048;
}

/* line 268, ../scss/_demo.scss */
.warning-base div:nth-child(2) {
  background-color: #ffea4c;
}
/* line 272, ../scss/_demo.scss */
.warning-base div:nth-child(2) span {
  background-color: #f2de48;
}

/* line 278, ../scss/_demo.scss */
.warning-base div:nth-child(3) {
  background-color: #fff94c;
}
/* line 282, ../scss/_demo.scss */
.warning-base div:nth-child(3) span {
  background-color: #f2ec48;
}

/* line 288, ../scss/_demo.scss */
.warning-base div:nth-child(4) {
  background-color: #f6ff4c;
}
/* line 292, ../scss/_demo.scss */
.warning-base div:nth-child(4) span {
  background-color: #e9f248;
}

@media (min-width: 61em) {
  /* line 9, ../scss/_768.scss */
  .page {
    max-width: 59em;
    _width: 59em;
  }

  /* line 19, ../scss/_768.scss */
  .logo {
    margin: 0;
    padding: 0;
    width: 32.203%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }

  /* line 33, ../scss/_768.scss */
  nav [role="navigation"] {
    margin: 0;
    padding: 0;
    width: 66.102%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    margin-top: 3em;
  }
  /* line 40, ../scss/_768.scss */
  nav [role="navigation"] li {
    display: inline;
    margin-right: 1.2em;
    text-align: right;
  }
  /* line 47, ../scss/_768.scss */
  nav [role="navigation"] a {
    font-size: 1.375em;
    line-height: 1.091em;
  }

  /* line 58, ../scss/_768.scss */
  div.readable {
    padding-left: 16.949%;
    padding-right: 16.949%;
  }

  /* line 63, ../scss/_768.scss */
  div.sidebar {
    display: block;
    width: 66.102%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
  /* line 68, ../scss/_768.scss */
  div.sidebar .recentProjects {
    width: 48.718%;
    float: left;
    margin-right: 2.564%;
    display: inline;
  }
  /* line 72, ../scss/_768.scss */
  div.sidebar .recentProjects:nth-child(2n) {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }

  /* line 81, ../scss/_768.scss */
  .row {
    width: 100%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
  /* line 85, ../scss/_768.scss */
  .row .module {
    margin: 0;
    width: 49.153%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
  /* line 90, ../scss/_768.scss */
  .row .module:nth-child(2n) {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 95, ../scss/_768.scss */
  .row .module:last-child {
    float: left;
  }

  /* line 109, ../scss/_768.scss */
  aside {
    margin: 0;
    padding: 0;
    width: 32.203%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    text-align: left;
  }

  /* line 123, ../scss/_768.scss */
  footer[role="contentinfo"] {
    margin-top: 1.5em;
    font-size: 0.875em;
    line-height: 0.857em;
  }
  /* line 134, ../scss/_768.scss */
  footer[role="contentinfo"] address {
    margin-top: 0.25em;
  }
  /* line 140, ../scss/_768.scss */
  footer[role="contentinfo"] .social {
    width: 49.153%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
  /* line 145, ../scss/_768.scss */
  footer[role="contentinfo"] .social address {
    width: 65.517%;
    float: left;
    margin-right: 3.448%;
    display: inline;
  }
  /* line 153, ../scss/_768.scss */
  footer[role="contentinfo"] .nav {
    width: 49.153%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 157, ../scss/_768.scss */
  footer[role="contentinfo"] .nav li {
    margin-top: 0.25em;
  }
}
