//----------------------------------------------------------------------------
// 600.scss
//----------------------------------------------------------------------------
@include at-breakpoint(10)  { 

@include layout(10)
{
	.page
	{
		@include set-container-width;
		//@include susy-grid-background;
	}


// ---------------------------------------------------------------------------
// HEADER

//LOGO
	.logo
	{
	
		@include span-columns(4,10);
		@include leader(.1, $baseFontSize, margin);
		@include push(3);

	}

	//NAV
	nav[role="navigation"] 
	{
		margin: 0;
		padding: 0;
		@include leader(.5, $baseFontSize, margin);
		@include span-columns(10,10);
	
	

		li
		{
		margin: 0;
		padding: 0;
		text-align: center;
		float:left;
		width:18.644%;
		
		}

		a
		{
		display:block;
			width:100%;	
			@include adjust-font-size-to(16px, 1, 16px);
		}
	}

// ---------------------------------------------------------------------------
// WORK

.row
	{
		@include span-columns(10,10);	

			.projectThumbs
			{
			
			width: 48.1%;
float: left;
margin-right: 1.9%;
display: inline;

			}

		


	}



	}
}