//----------------------------------------------------------------------------
// BREAKPOINTS
//----------------------------------------------------------------------------

.page {
  
  @include container;
     @include at-breakpoint($breakMedium) {
     @include set-container-width;
     @include susy-grid-background;
  }
  
  @include at-breakpoint($breakLarge) {
     @include set-container-width;
     @include susy-grid-background;
  }

}

// ---------------------------------------------------------------------------
// 10 Columns

@include at-breakpoint($breakMedium)  { 


// ---------------------------------------------------------------------------
// HEADER

//LOGO
	#logo
	{
		@include span-columns(3,10);

		img
		{
			margin: 0;
			width: 100%;
		}
	}


	//NAV
	nav[role="navigation"] 
	{
		padding:0;
		margin:0;
		@include span-columns(7 omega,10);
		margin-top: 3em;

		ul
		{
			padding:0;
			margin:0;
			display: block;
		}

		li
		{
			
			width: auto;
			float: right;
			background-color: transparent !important;

		}

		a
		{
			margin-right: 0;
			background-color: none;
			@include adjust-font-size-to(15px, 1, 16px);
		}
	}

// ---------------------------------------------------------------------------
// WORK

.row
	{
		@include span-columns(10,10);	

			.module
			{		
				@include span-columns(5,10);

				&:last-child
				{
					@include omega;
				}
			}
	}

.workProjects li
{

	
	height: 19.8em;
	@include adjust-font-size-to(16px, .8, 16px);


	.description
	{

			}
}

// ---------------------------------------------------------------------------
// @SIDEBAR
aside
{
	.twitter
	{
		@include span-columns(5,10);
	}

	.instagram
	{
		@include span-columns(5 omega,10);
	}
}

	// ---------------------------------------------------------------------------
// FOOTER

footer[role="contentinfo"]
{

}


	
}


// ---------------------------------------------------------------------------
// 12 Columns

@include at-breakpoint($breakLarge)   { 



// ---------------------------------------------------------------------------
// HEADER


	nav[role="navigation"] 
	{
		padding:0;
		margin:0;
		@include span-columns(7 omega,10);
		margin-top: 5em;

		ul.site-nav
		{
			padding:0;
			margin:0;

				li
		{
			margin-left: 3em;


			a
			{

			}
		}
		}

	
	}




// ---------------------------------------------------------------------------
// MAIN CONTENT

h3
{
	line-height: 1em;
}

div.readable
{
	@include pad(2,2);
}

div.services
{
	.service
	{
		@include leader(1, $baseFontSize, margin);
		@include span-columns(12,12);
	}

	.serviceDescription
	{
		@include span-columns(10,12);
	}

}

.serviceBlts
{
	@include span-columns(12,12);
	@include bx;	
	width: 96%;

	ul
	{
		display: inline;
		float: left;
		width: 40%;
		padding: 0;
		display: block;
		padding: 2% 5%;
	
	}
}	

	.colOne
	{
		@include span-columns(6,12);

	}

	.colTwo
	{
		@include span-columns(6 omega,12);
	}




div.twoCol
{
	@include leader(2, $baseFontSize, margin);
	@include span-columns(12,12);
			p
		{
			margin-right: 3em;
		}

}

div.sidebar
	{
		display: block;
		@include span-columns(8,12);

		p
		{
			margin-right: 3em;
		}

	}

.row
	{
		padding:0;
				margin: 0;
		@include span-columns(12,12);	

			.module
			{
				padding:0;
				margin: 0;
				float:none;
				@include span-columns(4,12);

					&:nth-child(3n)
					{
					@include omega;
					}	

			}

	}

.projects li.recentProjects:nth-child(2n)
{
	float:none;
	width: 0;
	@include span-columns(4,12);
}

.projects li.recentProjects
{
	float:none;
	width: 0;
	@include span-columns(4,12);

	&:nth-child(3n)
	{
		@include omega;
	}
}


.workProjects li
{

	
	height: 21em;
	@include adjust-font-size-to(16px, .8, 16px);

}


	// ---------------------------------------------------------------------------
// @SIDEBAR
aside
{
	.twitter
	{
	@include reset-columns
	}

	.instagram
	{
@include reset-columns
	}
}


// ---------------------------------------------------------------------------
// CONTACT

.contactCol
{
@include span-columns(6,12);
}

.btnSubmit
{



	.btn
	{
		@include span-columns(2 omega,12);


	}
}

// ---------------------------------------------------------------------------
// CAPTIONS

.recentProjects .captionBackground
{
  display: block;
bottom: -200px;
max-width: 268px;
}


// ---------------------------------------------------------------------------
// SIDEBAR

aside
{
	margin: 0;
	padding: 0;
	width:30%;
	float: right;
	text-align: left;
	//background-color: #F7F7F7;	
	padding-left: 1.5%;

}

.home aside
{
	border-left: .1em dotted $grayLighter;
}



span.tweet_text
{
	text-align: left;
}



// ---------------------------------------------------------------------------
// FOOTER

footer[role="contentinfo"]
{

	@include leader(3, 16px, margin);	
	@include adjust-font-size-to(14px, .5, 16px);


	}



	
}


