//----------------------------------------------------------------------------
// blocks.scss
//	a block is a more discrete component of the page
//----------------------------------------------------------------------------


form fieldset label {
	display: block;
	margin: 0 0 5px 0;
	font-weight: bold;
	}
form fieldset.check label {
	display: inline;
	font-weight: normal;
	}

	form fieldset.radio ul li label {
	display: inline;
	font-weight: normal;
	}


.icon a, nav[role="navigation"] a
{
	border-bottom: none;
}

#slideshow ul
{
	margin-top: -.39em;
}

// ---------------------------------------------------------------------------
// HEADER

.readable
{
	@include leader(2, $baseFontSize, margin);
}

//LOGO
#logo
{
	position: relative;
	z-index: 1000;
	top: 20px;
	border-bottom: none;
	margin: 0 auto;
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);

	&:hover
	{
		-webkit-transform: scale(1.1) rotate(-4deg);
-moz-transform: scale(1.1);
transform: scale(1.1);
	}
	

	img
	{
		width: 50%;
		margin: 0 25%;
	}

	h1
	{
			text-indent: -9999px;
			padding:0;
			margin:0;
			line-height:0;
	}
}

//NAVIGATION
.main
{
	list-style:none;


	a
	{
		display:block;
		text-align: right;
		text-decoration: none;
	}

}

ul
{
	margin:0;
}



nav[role="navigation"] 
{
	margin:0;
	padding:0;
	@include leader(1, $baseFontSize, padding);
	@include span-columns(6,6);

	ul
	{
		padding:0;
		margin:0;
	}

	li
	{
		
		
		@include trailer(.1, $baseFontSize, margin);
		background-color: lighten($grayLighter, 10%);
		margin-left: 1em;

	}

	a
	{
		float: right;
		margin-right:1em;
		display: block;
		text-align: center;
		@include adjust-font-size-to(14px, 1, 16px);
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in-out);
		border-color: transparent;
		text-transform: uppercase;
		

		&:hover, &:active
		{
			border-color: $orange;
			@include single-text-shadow(lighten($baseColor, 20%), 0, 1px, 2px, $default-box-shadow-spread);
			//@include single-text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur, $default-text-shadow-color);
		}
	}
}

nav[role="navigation"] li a.active
{
	border-color: $orange;
			@include single-text-shadow(lighten($baseColor, 20%), 0, 1px, 2px, $default-box-shadow-spread);
			color: $orange;
}


 
ul li.nav-current a
{
	border-color: $orange;
	@include trailing-border(2px, .2, 16px, solid);
	@include single-text-shadow(0, $default-text-shadow-v-offset, $orange);
}


// ---------------------------------------------------------------------------
// FEATURED

.featured
{	
	@include span-columns(6,6);
	text-align: center;
	// @include trailer(1, $baseFontSize, margin);
}

// ---------------------------------------------------------------------------
// MAIN

div [role="main"]
{
	@include span-columns(6,6);

	.recentProjects
	{
		@include span-columns(3,6);

		&:nth-child(2n)
		{
			@include omega;
		}
	}

}



// ---------------------------------------------------------------------------
// FOOTER

footer[role="contentinfo"]
{
	@include leader(2, $baseFontSize, margin);
	@include leading-border(2px, 1, 16px, dotted);
	border-color: $grayLighter;
	@include adjust-font-size-to(14px, .5, 16px);

	ul.social
	{
		display: block;
		width: 5em;
		margin: 0 auto;

		li
		{
			display:inline;
		}
	}	

	address
	{
		display:block;
		@include leader(.5, $baseFontSize, padding);
		margin: 0 auto;
		width: 18em;
	}

}

#footer-bottom
{
	background-color: lighten($grayLighter, 7%);
	color: $grayLight;
	width: 100%;
	text-align: center;
	@include adjust-font-size-to(8px, .5, 14px);
	@include leader(1, $baseFontSize, margin);
	@include trailer(1, $baseFontSize, margin);

}



// footer[role="contentinfo"]
// {
// 	@include leader(2, $baseFontSize, margin);
// 	@include leading-border(2px, 1, 16px, dotted);
// 	border-color: $grayLighter;
// 	@include span-columns(6,6);
// 	@include adjust-font-size-to(14px, .5, 16px);

// 	ul
// 	{
// 		@include span-columns(6,6);
// 		margin: 0 35%;
// 		padding:0;

// 		li
// 		{
// 			float: left;
// 			padding-right: 10px;
// 			text-align: center;
// 		}

// 	}

// 	address
// 	{
// 		@include leader(.5, $baseFontSize, padding);
// 		@include span-columns(6,6);
// 		margin: 0 0;

// 		span
// 		{
// 			text-align: center;
// 			height: 2em;
// 			padding-left: 1em;
// 			display: inline;
// 			float: left;
// 			display: block;
				
// 			&:first-child
// 			{
// 				padding-right: 1em;
// 				border-right: 1px solid $grayLight;
// 			}
// 		}
// 	}

	// .nav
	// {
	// 	@include span-columns(6,6);
		
	// 	li
	// 	{
	// 		display: inline;
	// 		margin: 0 $base-leader 0 0;
	// 		margin-top: $base-leader;
	// 		margin-bottom: $base-leader;
	// 		width: 16%;
	// 		text-align: center;
	// 		border-right: 1px solid $grayLight;
			
	// 		&:last-child
	// 		{
	// 			border: none;
	// 		}
	// 	}
		
	// }

	// p
	// {
	// 	@include leader(1, $baseFontSize, padding);
	// 	@include adjust-font-size-to(12px, .5, 16px);
	// 	margin:0;
	// 	display: block;
	// 	@include span-columns(6,6);
	// 	margin-top: $base-leader ;
	// 	margin-bottom: 4 * $base-leader ;
	// 	text-align: center;
	// }

// }



