//----------------------------------------------------------------------------
// buttons.scss
//----------------------------------------------------------------------------

// Mixinins for shadows used in buttons
@mixin sassy-button-highlight-shadow($primaryBtnBckgrnd) {
  @include box-shadow(lighten($primaryBtnBckgrnd, 15%) 0 1px 0 inset);
}

@mixin sassy-button-active-shadow($primaryBtnBckgrnd) {
  @include box-shadow(darken($primaryBtnBckgrnd, 8%) 0 1px 2px inset);
}

#submit-button
{
	
}

.btn
{
	@include sassy-button("matte", .2em, 1em, $baseColorTint, $baseColor);
}

.project-navigation a
{
	border: none;
}

.project-navigation
{
	@include leader(1, $baseFontSize, margin);
	@include leader(1, $baseFontSize, padding);
	border-top: .1em solid $grayLighter;

	.projectNavContainer
	{
		float: right;
	

	}

	a.btn2
	{
		@include sassy-button("matte", 0, 1em, $white, lighten($grayLighter, 4%), $grayDark, "raised");
		@include adjust-font-size-to(13px, 1, 16px);
	}

	a.next
	{
		margin-left: -1px;
		padding-left: 2em;
		padding-right: 2em;
		@include border-corner-radius( top, right, $default-border-radius);
		@include border-corner-radius( bottom, right, $default-border-radius);
	}

	a.previous
	{
		@include border-corner-radius( top, left, $default-border-radius);
		@include border-corner-radius( bottom, left, $default-border-radius);
	}
}






// .btn
// {
// 	@include adjust-font-size-to(14px);
// 	display: inline-block;
// 	min-width: 75px;
// 	min-height: 30px;
// 	@include rhythm-borders(1px, .5, 16px);
// 	@include rhythm(.5, .2, .2, .5, 16px);
// 	border-style: solid;
// 	border-color: $grayLight; 
// 	@include border-radius($default-border-radius);
// 	background: url('/assets/image-base/sassy-ie-overlay.png') repeat-x bottom left #e6e6e6;
// 	@include background-image(linear-gradient( $grayLighter, $grayLight 70%));
// 	@include single-box-shadow($white, 0, 1px, 0, 0, inset);
// 	color: $grayDark;
// 	text-shadow: $grayLighter 0 1px 0;
// 	text-decoration: none;
// 	cursor: pointer;
// 	text-align: center;
// }

// .btn:hover 
// {
// 	@include single-box-shadow($grayLighter, 0, 1px, 0, 0, inset);
// 	@include background-image(linear-gradient( darken($grayLighter, 5%), darken($grayLight, 5%) 70%));
// 	color: $grayDark;
// 	text-decoration: none;
// }

// .btn:active 
// {
//   -webkit-box-shadow: #d1d1d1 0 1px 2px inset;
//   -moz-box-shadow: #d1d1d1 0 1px 2px inset;
//   box-shadow: #d1d1d1 0 1px 2px inset;
//   color: $grayDark;
//   text-decoration: none;
// }

// .btn.disabled, .btn[disabled] 
// {
//   opacity: 0.6;
//   color: $gray;
//   background: #e6e6e6;
//   cursor: default;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   text-decoration: none;
// }


.btnYes, .btnNo
{
	color: $white;
	width: 28%;
	float: left;
	height: calc-em(26px, $baseFontSize);
	cursor: pointer;
	@include leader(1, $baseFontSize, margin);
}

.btnYes
{
 	@include background(linear-gradient(color-stops( lighten($blue, 20%), $blue)));
 	border: 1px solid darken($blue, 1%);
 	@include border-corner-radius( top, right, 5px);
 	@include border-corner-radius( bottom, right, 5px);
 	@include text-shadow($black, 0, 1px, 0, 0, inset);
 	@include single-text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur, darken($blue, 25%));


 	&:hover
 	{
 		@include background(linear-gradient(color-stops( lighten($blue, 15%), darken($blue, 5%))));
 		border: 1px solid darken($blue, 5%);
 	}

 	&:active
 	{
 		@include single-box-shadow($default-box-shadow-color, 0, 2px, $default-box-shadow-blur, $default-box-shadow-spread, inset);
 		@include background(linear-gradient(color-stops( lighten($blue, 16%), darken($blue, 6%))));
 		border: 1px solid darken($blue, 6%);
 	}

}

.btnNo
{
 	@include background(linear-gradient(color-stops( lighten($redOrange, 20%), $redOrange)));
 	border: 1px solid darken($redOrange, 1%);
 	@include border-corner-radius( top, left, 5px);
 	@include border-corner-radius( bottom, left, 5px);
 	color: $white;
 	@include single-text-shadow(($primaryBtnBckgrnd, 10%), 0, -1, 0);
 	@include single-text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur, darken($redOrange, 25%));

 	 &:hover
 	{
 		@include background(linear-gradient(color-stops( lighten($redOrange, 15%), darken($redOrange, 5%))));
 		border: 1px solid darken($redOrange, 5%);
 	}

 	&:active
 	{
 		@include single-box-shadow($default-box-shadow-color, 0, 2px, $default-box-shadow-blur, $default-box-shadow-spread, inset);
 		@include background(linear-gradient(color-stops( lighten($redOrange, 16%), darken($redOrange, 6%))));
 		border: 1px solid darken($redOrange, 6%);
 	}

}
