//----------------------------------------------------------------------------
// elements.scss
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// IMAGES AND FIGURES

hr {
display : block;
margin : 1em 0;
padding : 0;
height : 1px;
border : 0;
border-top : 1px solid $borderColor;
border-bottom : 1px solid $white; }

// img



img {
max-width : 100%;
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }


.recentProjects img, .featured #full-width-slider
{
//   padding: 0.5em;
// border: 0.1em solid #E6E6E6;
// overflow:;
@include single-box-shadow($grayLight, 0, 1px, 2px, 1px, false);
    @include transition-property(opacity);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);

}


.figure:hover
{
  opacity: .9;
  background-color:white;
  bottom-border: none;

  span.figcaption
  {
    color: $orange;
  }
}




svg:not(:root) 
{
  overflow : hidden; 
}

// figure



// img {
// margin-bottom : $baseLineHeight / 4; }

.figure img
{
   @include leader(1, $baseFontSize, margin);
   width: 100%;
}

.figure 
{

  position:relative;
}

span.figcaption 
{
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  opacity:.8;
  background-color:black;
  padding-left: 1em;
}

// list-bordered

.list-bordered {
list-style-type : none;
margin : 0 0 $baseLineHeight 0;
padding : 0;

li {
margin-bottom : $baseLineHeight / 4;
padding-bottom : $baseLineHeight / 4;
border-bottom : 1px dashed $borderColor; }

li:last-child {
margin-bottom : 0;
padding-bottom : 0;
border-bottom-width : 0; }
}

::selection {
  background: $orange; /* Safari */
  color: $white;
  @include single-text-shadow(none);
  }
::-moz-selection {
  background: $orange; /* Firefox */
  color: $white;
  @include single-text-shadow(none);
}

// ---------------------------------------------------------------------------
// SPRITES
.icon 
{
  ;@include transition-property(all);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in);
}

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.fc-webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Facebook */
.no-svg .fc-webicon.facebook { background: url("../../assets/image-base/icons/fc-webicon-facebook-m.png" ); }
.no-svg .fc-webicon.facebook.large { background: url("../../assets/image-base/icons/fc-webicon-facebook.png"); }
.no-svg .fc-webicon.facebook.small { background: url("../../assets/image-base/icons/fc-webicon-facebook-s.png"); }
.svg .fc-webicon.facebook { background: url("../../assets/image-base/icons/fc-webicon-facebook.svg"); }

/* Twitter */
.no-svg .fc-webicon.twitter { background: url("../../assets/image-base/icons/fc-webicon-twitter-m.png"); }
.no-svg .fc-webicon.twitter.large { background: url("../../assets/image-base/icons/fc-webicon-twitter.png"); }
.no-svg .fc-webicon.twitter.small { background: url("../../assets/image-base/icons/fc-webicon-twitter-s.png"); }
.svg .fc-webicon.twitter { background: url("../../assets/image-base/icons/fc-webicon-twitter.svg"); }

/* RSS */
.no-svg .fc-webicon.rss { background: url("../../assets/image-base/icons/fc-webicon-rss-m.png"); }
.no-svg .fc-webicon.rss.large { background: url("../../assets/image-base/icons/fc-webicon-rss.png"); }
.no-svg .fc-webicon.rss.small { background: url("../../assets/image-base/icons/fc-webicon-rss-s.png"); }
.svg .fc-webicon.rss { background: url("../../assets/image-base/icons/fc-webicon-rss.svg"); }

// .icn-facebook {
//   background: url(../../assets/image-base/social.png) 0px 0px no-repeat;
//   display: inline-block;
//   width: 25px;
//   height: 23px;
// }

// .icn-rss {
//   background: url(../../assets/image-base/social.png) 0px -24px no-repeat;
//   display: inline-block;
//   width: 25px;
//   height: 24px;
// }

// .icn-twitter {
//   background: url(../../assets/image-base/social.png) -26px 0px no-repeat;
//   display: inline-block;
//   width: 25px;
//   height: 23px;
// }


// ---------------------------------------------------------------------------
// GRID

.ri-grid{
  margin: 0 auto 0;
  position: relative;
  height: auto;
}

.ri-grid-loading{
  width: 100px;
  height: 100px;
  background: transparent url(../../images/loading.gif) no-repeat center center;
}

.ri-grid ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
  content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px; 
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  background: #000;
}

.ri-grid ul li a{
  display: block;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
  width: 100%;
}
.ri-grid-size-2{
  width: 100%;
}
.ri-grid-size-3{
  width: 100%;
  margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.ri-shadow:after{
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
  display: none;
}


// ---------------------------------------------------------------------------
// Royal Slider

#full-width-slider {
  width: 100%;

}

  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {

      max-width: 100%;

  }

//   .fullWidth {
//   max-width: 1400px;
//   margin: 0 auto 24px;
// }


// @media screen and (min-width:960px) and (min-height:660px) {
//   .heroSlider .rsOverflow,
//   .royalSlider.heroSlider {
//       height: 520px !important;
//   }
// }

// @media screen and (min-width:960px) and (min-height:1000px) {
//     .heroSlider .rsOverflow,
//     .royalSlider.heroSlider {
//         height: 660px !important;
//     }
// }
// @media screen and (min-width: 0px) and (max-width: 800px) {
//   .royalSlider.heroSlider,
//   .royalSlider.heroSlider .rsOverflow {
//     height: 300px !important;
//   }

//CAPTIONS
div.rsABlock
{

background-color: $orange;
padding: 1em;
text-align: left;
color: white;
@include single-text-shadow(none);
}

div.rsABlock p
{
  margin: 0;
@include single-text-shadow(none);
}

div.rsABlock a
{
  color: white;
  text-decoration: none;
  border:none;

  &:hover
  {
    text-decoration: underline;
  }
}

.sliderQuote
{
  width: 100%;
  height: 10px
}

// ---------------------------------------------------------------------------
// INSTAGRAM

#slideshow
{


padding:0;
  display: block;
  float: left;


  img
  {

    float: left;
    margin: .2em;
    padding: .2em;
    border: .1em solid $grayLighter;

  }
}

// ---------------------------------------------------------------------------
// TWEETS
.tweet,
.query 
{
 color: $gray;
 @include adjust-font-size-to(13px, 1, 16px);

}

.tweet_odd, .tweet_even
{
  width: 100%;

}

  .tweet_list {
 
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7F7F7;
    padding: 0 .5em;

  /*  background-color: #8ADEE2;
  */}
  
span.tweet_text
{
  display: block;
  text-align: center;
  


}

.tweet_time
{
  
    display:block;
    text-align: center;

  a
  {
      color: $baseColorShade;
      border-bottom: none;
      font-style: italic;
      @include adjust-font-size-to(12px, 1, 14px);
  }
}

    .tweet_list li {
      overflow-y: auto;
      overflow-x: hidden;
      float: left;
      padding: 0.5em;
      list-style-type: none;
      text-align: left;
      border-top: 0.1em dotted #E6E6E6;
      display:block;

  

    }
    
      .tweet_list li a 
      {
        color: $gray;
        border-bottom-color: $grayLight;

        &:hover
        {
          background-color: $grayLighter;
      
        }
      }
    

        a.tweet_avatar
        {
          border-bottom: none;

        }

    .tweet_list .tweet_avatar 
    {
   display: none;



    
 
    }
    
      .tweet_list .tweet_avatar img {
        vertical-align: middle;
        display: block;

          
      }



// ---------------------------------------------------------------------------
// RECENT PROJECTS

.recentProjects img
{


}

.recentProjects .captionBackground
{
  display: block;
  bottom: -107px;
  display: relative;
  background: black;
  padding: $base-half-leader  1em;
  overflow: hidden;
  max-width: 294px;
  filter: alpha(opacity=80);
  -moz-opacity: .80;
  opacity: .80;
}