// //----------------------------------------------------------------------------
// // forms.scss
// // Base styles for various input types, form layouts, and states
// //----------------------------------------------------------------------------

// // ---------------------------------------------------------------------------
// // GENERAL STYLES

// // Make all forms have space below them
form 
{
   @include trailer(1, $baseFontSize, margin);
}

p#req-field-desc
{
  float: left;
  display: block;
  text-align: center;
  @include span-columns(6,6);
  @include leader(1, $baseFontSize, margin);
}


form
{
	fieldset
	{
		padding: 0;
  		margin: 0;
   		border: 0;
		@include trailer(.5, $baseFontSize, margin);
	}

	legend
	{
		  display: block;
		  width: 100%;
		  padding: 0;
		  @include adjust-font-size-to(18px, 1, 16px);
		  color: $grayDark;
		  border: 0;
	}

	label
	{
		display: block;
    // @include leader(1, $baseFontSize, margin);
		//Make Flush with insideborder
		margin-left: 1px;
		vertical-align: top;
		@include adjust-font-size-to(14px, 1, 16px);

		
	}
}




// // ---------------------------------------------------------------------------
// // FORM CONTROLS

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input 
{
  display: block;
  height: $baseLineHeight;
  
  @include leader(.1, $baseFontSize, margin);
  @include trailer(1, $baseFontSize, margin);
  @include adjust-font-size-to(16px);
  line-height: $baseLineHeight;
    width:95%;
  padding:2%;
  margin-right: 0;
  color: $gray;
}

// Reset height since textareas have rows
textarea 
{
  height: auto;
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input 
{
  display: block;
  width: 93%;
  background-color: $inputBackground;
  @include rhythm-borders(1px, .4, $baseFontSize);
  border-color: $inputBorder;
  @include border-radius($inputBorderRadius);
  @include single-box-shadow($grayLight, $default-box-shadow-h-offset, $default-box-shadow-v-offset, 4px, .5px, true);
  @include transition-property(all);
  @include transition-duration(.5s);
  @include transition-timing-function(linear);
  width:95%;
  padding:2%;


  // Focus state
  &:focus 
  {
    border-color: $inputFocusBorder;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    background-color: $white;
    color: $grayDark;
    @include single-box-shadow($greenTint, $default-box-shadow-h-offset, $default-box-shadow-v-offset, 3px, 1px, false);
  }
}


#message 
{
  height: 13.28em;
}

// // ---------------------------------------------------------------------------
// // CHECKBOXES & RADIOS

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline,
.checkbox.inline 
{
  display: inline-block;
  padding-top: $base-half-leader;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline 
{
  margin-left: $base-leader ; // space out consecutive inline controls
}

input[type="checkbox"],
input[type="radio"]
{
	margin-right: $base-leader;
	height: $base-leader * 2;
	width: $base-leader * 2;
}



// ---------------------------------------------------------------------------
// DISABLED STATE

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] 
{
  cursor: not-allowed;
  background-color: $inputDisabledBackground;
  border-color: $inputDisabledBorder;
}


// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] 
{
  background-color: transparent;
}



// ---------------------------------------------------------------------------
// HELP TEXT

.help-block,
.help-inline 
{
  color: $gray; 
  @include adjust-font-size-to(14px, 1, 16px);

}

.help-block 
{
  display: block; 
  margin-bottom: $baseLineHeight / 2;
}

.help-inline 
{
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}



// // ---------------------------------------------------------------------------
// // contact

p#success, ul#errors {
	display:none;
}
p#success.visible, ul#errors.visible {
	display:block;
}

span.required
{
  color: $baseColor;
  font-size: 1.5em;
}
