//----------------------------------------------------------------------------
// mixins.scss
//----------------------------------------------------------------------------


@mixin mainMenu($borderPadding)
{
	@include background-image(linear-gradient(top,  lighten($grayLighter, 50%) 0%,  lighten($grayLighter, 5%) 100%));
  	border-left: 1px solid $grayLighter;
  	border-right: 1px solid $grayLighter;
  	@include horizontal-borders(1px, $borderPadding, $baseFontSize);
	border-color: $grayLighter;
  	box-shadow: inset 0px 2px 3px #fff;
}

// CONVERTING PX TO EM
@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

// CONVERTING FONTS FROM PX TO REM
@mixin font-size($font-size: 16){
font-size : #{$font-size}px;
font-size : #{$font-size / 10}rem; }

@mixin text-overflow() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }

// gradients

@mixin greygrad {
@include vertical($white, darken($greyLighter, 5%)); }

@mixin basegrad {
@include vertical($baseColor, darken($baseColor, 10%)); }

@mixin infograd {
@include vertical($infoColor, darken($infoColor, 10%)); }

@mixin inversegrad {
@include vertical($inversColor, darken($inversColor, 10%)); }

@mixin successgrad {
@include vertical($successColor, darken($successColor, 10%)); }

@mixin warninggrad {
@include vertical($warningColor, darken($warningColor, 10%)); }



