//----------------------------------------------------------------------------
// blocks.scss
//	a block is a more discrete component of the page
//----------------------------------------------------------------------------

//BASE BLOCK
.blck
{
	margin: $spaceM;

	.inner 
	{

	}
}



//BODY, HEADER, FOOTER
.bd, .ft, .hd
{
	overflow:hidden; 
	*overflow:visible; 
	zoom:1;
}



//ISLAND
.island
{
  padding: $space;
  margin-bottom: $space;

    & > :last-child
    {
    	/* Remove the margin from the last child of a boxed off area so that we don't end up with compounded margin/padding spacings. */
    	margin-bottom:0; 
 	}
}



// ---------------------------------------------------------------------------
// HEADER

//LOGO
.logo
{
	@include push(1);
	@include span-columns(4,6);

	img
	{
		width: 100%;
		
	}
}

//NAVIGATION
.nav
{
  list-style:none;

  a
  {
  	display:block;
  	text-decoration: none;
  }

}


  

// ---------------------------------------------------------------------------
// FEATURED

.featured
{	
	@include span-columns(6,6);
	text-align: center;
}





// ---------------------------------------------------------------------------
// whatWeDo



