// Sassy Buttons
// Compass extension by Jared Hardy - http://www.jaredhardy.com

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

@import "sassy-buttons/sassy-button-gradients";
@import "sassy-buttons/sassy-button-styles";
@import "sassy-buttons/sassy-button-text";
@import "sassy-buttons/sassy-button-pseudo-states";

// Sassy Button defaults
// These are the base defaults for the buttons, if you are going to use similar buttons on an entire site changing these
// can save you some time by calling the sassy button mixin with less arguments.

// Base color of button.
$sb-base-color: rgba(11, 153, 194, 1) !default;

// Optional secondary color for gradient.
$sb-second-color: false !default;

// Border radius of button.
$sb-border-radius: 5px !default;

// Padding that gives button structure.
$sb-padding: 0.3em 1.5em !default;

// Font size.
$sb-font-size: 16px !default;

// Button font color.
$sb-text-color: white !default;

// Style of button text, can be "inset" or "raised" or false.
$sb-text-style: "inset" !default;

// Gradient style of button, can be "flat", "glass", "matte", "shiny", or "simple".
$sb-gradient-style: "simple" !default;

// Automatically generate pseudo state styles.
$sb-pseudo-states: true !default;

// Add gradient png for IE 7+
$sb-ie-support: true !default;

// Set the default Line height
$sb-line-height: 1.5 !default;

// Mixing that gets included when calling the sassy-button-structure if you need any
// styles applied to all your sassy buttons, add it here.
@mixin sassy-button-default-structure {
  display: inline-block;
  cursor: pointer;
  line-height: $sb-line-height;
  text-decoration: none;
}

// The Sassy Button kitchen sink.
@mixin sassy-button($gradient-style: $sb-gradient-style, $border-radius: $sb-border-radius, $font-size: $sb-font-size, $first-color: $sb-base-color, $second-color: $sb-second-color, $text-color: $sb-text-color, $text-style: $sb-text-style, $auto-states: $sb-pseudo-states, $ie: $sb-ie-support) {
  @include sassy-button-structure($border-radius, $font-size, $sb-padding);
  @include sassy-button-gradient($gradient-style, $first-color, $second-color, $text-color, $text-style, $auto-states, $ie);
}

// Structure for a sassy button
@mixin sassy-button-structure($border-radius: $sb-border-radius, $font-size: $sb-font-size, $padding: $sb-padding) {
  font-size: $font-size;
  padding: $padding;
  @include sassy-button-default-structure;
  @include border-radius($border-radius);
}
