//----------------------------------------------------------------------------
// base.scss
// Imports, settings, and variables
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// @IMPORTS

@import "susy";
@import "color-schemer";
@import "sassy-buttons";

// ---------------------------------------------------------------------------
// @BASIC GRID

$total-columns  			: 6;
$column-width   			: 5em;
$gutter-width   			: 1em;
$grid-padding   			: 2em;

$breakLarge          		: 60em 12;
$totalColumnsLarge 			: 12;

$breakMedium          		: 40em 10;
$totalColumnsMedium 		: 10;

$show-grid-backgrounds  	: false;

// ---------------------------------------------------------------------------
// @COLORS

// GRAYS
$black						: rgb(0,0,0) ;
$grayDark					: lighten($black, 25%) ;
$gray 						: lighten($black, 50%) ;
$grayLight 					: lighten($black, 75%) ;
$grayLighter				: #E6E6E6;
$white						: rgb(255,255,255)     ;

//TINT AND SHADE

$tintPercent				: 30%;
$shadePercent				: 20%;

// MAIN
$bodyBackground				: $white;
$baseTextColor				: $grayDark;

$base-color              	: #eb9b23;
$baseColor              	: $base-color;
$baseColorTint 				: tint($baseColor, $tintPercent);
$baseColorShade 			: shade($baseColor, $shadePercent);

$color-location             : primary; 											//[primary, secondary, tertiary, quadrary]
$color-scheme      			: complement; 										//[mono, complement, triad, tetrad, analogic, accented-analogic]
$hue-offset					: 20;
$brightness-offset			: 10%;
$color-angle				: 40;
$color-theory				: rgb; 												//[rgb, boutet]
$equalize					: true; 											//[true, false]

$compColor              	: adjust-hue($baseColor, 180);
$compColorTint 				: tint($compColor, $tintPercent);
$compColorShade 			: shade($compColor, $shadePercent);

$primary 					: color-schemer(primary);
$secondary					: color-schemer(secondary);
$tertiary					: color-schemer(tertiary);
$quadrary					: color-schemer(quadrary);

$borderColor				: darken($baseColor, 40%);

// ACCENT COLORS
$red 						: $quadrary;
$redOrange 					: $tertiary;
$orange 					: $baseColor;
$gold 						: #ffcc00 ;
$yellow 					: #ffff00 ;
$limeGreen 					: #ace500 ;
$Green 						: #00cc00 ;
$blueLight 					: #0099cc ;
$blue 						: $secondary;
$blueDark 					: #2200cc ;
$purple 					: #8800cc ;
$magenta 					: #d9007e ;

// TINTS

$redTint 					: tint($red, $tintPercent) ;
$redOrangeTint 				: tint($redOrange, $tintPercent) ;
$orangeTint 				: tint($orange, $tintPercent) ;
$goldTint					: tint($gold, $tintPercent) ;
$yellowTint					: tint($yellow, $tintPercent) ;
$limeGreenTint				: tint($limeGreen, $tintPercent) ;
$greenTint 					: tint($Green, $tintPercent) ;
$blueLightTint 				: tint($blueLight, $tintPercent) ;
$blueTint 					: tint($blue, $tintPercent) ;
$blueDarkTint 				: tint($blueDark, $tintPercent) ;
$purpleTint 				: tint($purple, $tintPercent) ;
$magentaTint 				: tint($magenta, $tintPercent) ;


// SHADES

$redShade 					: shade($red, $shadePercent) ;
$redOrangeShade 			: shade($redOrange, $shadePercent) ;
$orangeShade 				: shade($orange, $shadePercent) ;
$goldShade  				: shade($gold, $shadePercent) ;
$yellowShade				: shade($yellow, $shadePercent) ;
$limeGreenShade				: shade($limeGreen, $shadePercent) ;
$GreenShade 				: shade($Green, $shadePercent) ;
$blueLightShade 			: shade($blueLight, $shadePercent) ;
$blueShade 					: shade($blue, $shadePercent) ;
$blueDarkShade				: shade($blueDark, $shadePercent) ;
$purpleShade				: shade($purple, $shadePercent) ;
$magentaShade				: shade($magenta, $shadePercent) ;

// LINKS
$linkColor 		    		: $grayDark;
$linkColorTint 				: tint($linkColor, $tintPercent);
$linkColorShade 			: shade($linkColor, $shadePercent);
$linkColorHover 			: darken($linkColor, 10);
$linkColorVisited   		: darken($linkColorHover, 10);
$linkColorFocus 			: darken($linkColorVisited, 10);

// BUTTONS
$primaryBtnBckgrnd          : $linkColor;
$primaryBtnBckgrndTint 		: tint($primaryBtnBckgrnd, $tintPercent);
$primaryBtnBckgrndShade 	: shade($primaryBtnBckgrnd, $shadePercent);

// ALERTS AND MESSAGES
$alertColor 				: $yellowTint;
$infoColor 					: $blueLightTint;
$errorColor 				: $redTint;
$successColor 				: $greenTint;
$warningColor 				: $goldTint;
$inverseColor 				: $grayDark;



// ---------------------------------------------------------------------------
// text SHADOW

$default-text-shadow-color 		: rgba(51,51,51,.5);								//The default color for box shadows
$default-text-shadow-h-offset	: 0px;												//The default horizontal offset. Positive is to the right.
$default-text-shadow-v-offset	: 1px;												//The default vertical offset. Positive is down.
$default-text-shadow-blur		: 1px;												//The default blur length.
$default-text-shadow-spread 	: false;											//The default spread length.


// ---------------------------------------------------------------------------
// BOX SHADOW

$default-box-shadow-color 	: rgba(51,51,51,.3); 								//The default color for box shadows
$default-box-shadow-h-offset: 0px;												//The default horizontal offset. Positive is to the right.
$default-box-shadow-v-offset: 0px;												//The default vertical offset. Positive is down.
$default-box-shadow-blur	: 5px;												//The default blur length.
$default-box-shadow-spread 	: false;											//The default spread length.
$default-box-shadow-inset	: false;											//inset or false (for standard shadow).


// ---------------------------------------------------------------------------
// SASSY BUTTONS

$sb-base-color				: $primary;       									// Base color of your button
$sb-second-color			: false;        									// Optional second color of button gradient
$sb-border-radius			: 10px;         									// Button border radius
$sb-border-width			: 1px;          									// Button border width
$sb-padding					: 0.5em 1.5em; 										// Button padding
$sb-font-size				: 20px;         									// Button font-size
$sb-line-height				: 1.2em;        									// Button line-height
$sb-text-color				: white;        									// Button text color
$sb-text-style				: "inset";      									// Button text shadow style
$sb-gradient-style			: "matte";      									// Button gradient style
$sb-auto-states				: true;         									// Automatically create pseudo styles 


// ---------------------------------------------------------------------------
// BORDER RADIUS

$defaultBorderRadius		: 5px;


// ---------------------------------------------------------------------------
// TYPOGRAPHY

$baseFontSize 				: 16px !default;
$baseFontFamily				: "Helvetica Neue", Helvetica, Arial, sans-serif;	
$baseLineHeight				: 24px;

$headingsFontFamily         : "Helvetica Neue", Helvetica, Arial, sans-serif;										// empty to use BS default, @baseFontFamily
$headingsFontWeight			: bold;    											// instead of browser default, bold
$headingsColor				: inherit; 											// empty to use BS default, @textColor

$altFontFamily				: 'Open Sans', serif;
$altLineHeight 				: 1.35em;

$codeFont 					: Monaco, Courier New, monospace;


// ---------------------------------------------------------------------------
// TYPOGRAPHY VERTICAL RYTHM

$base-font-size				: $baseFontSize;
$base-line-height			: $baseLineHeight;
@include establish-baseline;
$default-rhythm-border-style: solid;
$relative-font-sizing 		: true;
$round-to-nearest-half-line : false;
$min-line-padding 			: 2px;
$font-unit 					: if($relative-font-sizing, 1em, $base-font-size);



// ---------------------------------------------------------------------------
// TABLES

$tableFontSize				: $baseFontSize;
$tableBackground			: $white;
$tableBorderWidth 			: 1px;
$tableBorderColor			: $grayLight;
$tableBorderStyle 			: solid;
$tableHover					: $linkColor;
$tableStripe				: $grayLighter;



// ---------------------------------------------------------------------------
// FORMS

//INPUTS
$inputBackground			: $white;
$inputBorder   				: $grayLight;
$inputBorderRadius			: $defaultBorderRadius;
$inputFocusBorder			: $greenTint;
$inputTextColor				: lighten($baseColorShade, 30%);

$inputDisabledBackground	: $grayLighter;
$inputDisabledBorder		: $grayLight;



// ---------------------------------------------------------------------------
// SPACES

$spaceXS					: $baseLineHeight / 6;
$spaceS 					: $baseLineHeight / 4;
$spaceM 					: $baseLineHeight / 2;
$space 						: $baseLineHeight;
$spaceL 					: $baseLineHeight * 2;
$spaceXL 					: $baseLineHeight * 4;


// ---------------------------------------------------------------------------
// Z-INDEX

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown				: 1000 ;
$zindexPopover				: 1010 ;
$zindexTooltip				: 1020 ;
$zindexFixedNavbar			: 1030 ;
$zindexModalBackdrop		: 1040 ;
$zindexModal 				: 1050 ;


