//----------------------------------------------------------------------------
// tables.scss
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// BASE TABLES

table 
{	
  max-width: 100%;
  background-color: $tableBackground;
  border-collapse: collapse;
  border-spacing: 0;
 }

 // ---------------------------------------------------------------------------
 // BASELINE TABLES

.table {
  width: 100%;
  margin-bottom: $baseLineHeight;
  // Cells
  th,
  td {
    line-height: $baseLineHeight;
    text-align: left;
    vertical-align: top;
    @include rhythm-borders($tableBorderWidth, .41, $tableFontSize, $tableBorderColor);	
  }
  th {
    font-weight: bold;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    @include rhythm-borders(1px, .5, $tableFontSize);
  }
}



// ---------------------------------------------------------------------------
// CONDENSED TABLE W/ HALF PADDING

.table-condensed 
{
  th,
  td 
  {
    padding : ($base-leader * 4) ($base-leader * 5); 
  }
}



// ---------------------------------------------------------------------------
// BORDERED VERSION

.table-bordered 
{
	margin-top: -.1em;
	@include rhythm-borders(1px, .02, $tableFontSize);
	border-color: $tableBorderColor;
	border-collapse: separate; // Done so we can round those corners!
	*border-collapse: collapsed; // IE7 can't round corners anyway
	border-left: 0;
	@include border-radius($defaultBorderRadius);

  th,
  td 
  {
    border-left: 1px solid $tableBorderColor;
  }
  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
	@include border-corner-radius( top, left, $defaultBorderRadius);
  }
  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    @include border-corner-radius( top, right, $defaultBorderRadius);
  }
  // For first th or td in the first row in the first thead or tbody
  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child 
  {
  	@include border-corner-radius( bottom, left, $defaultBorderRadius);
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child 
  {
    @include border-corner-radius( bottom, right, $defaultBorderRadius);
  }
}

// ---------------------------------------------------------------------------
// ZEBRA-STRIPING

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: $tableStripe;
    }
  }
}



// ---------------------------------------------------------------------------
// HOVER EFFECT
// Placed here since it has to come after the potential zebra striping
.table {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: $tableHover;
  }
}
