//----------------------------------------------------------------------------
// texture.scss
//----------------------------------------------------------------------------

// gradients
@mixin bx
{
	@include background-image(linear-gradient(top,  white 0%, #F7F7F7 100%));

	border: .1em solid $grayLighter;
	@include trailer(1, $baseFontSize, margin);
	@include border-radius($default-border-radius);

	p
	{
		margin: 0;
	}
}



@mixin greygrad {
@include vertical($white, darken($greyLighter, 5%)); }



@mixin infograd {
@include vertical($infoColor, darken($infoColor, 10%)); }

@mixin inversegrad {
@include vertical($inverseColor, darken($inverseColor, 10%)); }

@mixin successgrad {
@include vertical($successColor, darken($successColor, 10%)); }

@mixin warninggrad {
@include vertical($warningColor, darken($warningColor, 10%)); }



