//----------------------------------------------------------------------------
// typography.scss
// Headings, body text, lists, code, and more 
//----------------------------------------------------------------------------



// ---------------------------------------------------------------------------
// BODY

p,
ol,
ul,
dl,
address 
{
  @include rhythm(.5, 0, 0, .5, 16px);
  font-family: $baseFontFamily;
   text-shadow: $white 1px 1px 0;

  small 
  {
    color: $grayLight;
    @include rhythm(1, 0, 0, 1, 12px);
  }
}

.readable p
{
    @include adjust-font-size-to(18px);  
}

// ---------------------------------------------------------------------------
// LINKS




a 
{
  color: $linkColor; 
  text-decoration: none; 
  border-bottom: dashed 1px $grayLight;
}
a:hover 
{
  color: #e06c1f;
  border-bottom: dashed 1px #e06c1f;
}


// ---------------------------------------------------------------------------
// @HIGHLIGHTS AND EMPHASIS

.lead 
{
  margin-bottom: $baseLineHeight;
  font-family: 'Open Sans';
  @include adjust-font-size-to(32px);  
  font-weight: 700;
  font-style: italic;
}

.lead em
{
  font-style: normal;
  font-weight: 600px;
  text-transform: uppercase;
  color: $baseColor;
}

p em
{
  font-weight: 900;
  color:#35B55C;
}

.question .lead
{
  @include adjust-font-size-to(20px);  
}


// ---------------------------------------------------------------------------
// HEADINGS

h1, h2, h3, h4, h5, h6 
{
  margin: 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings

}

h1
{ 
  @include leader(2, 32px, padding);
  @include adjust-font-size-to(32px);  
}

h2 
{ 
    @include adjust-font-size-to(20px);
    text-transform: uppercase; 
    line-height: 20px;
    color: #35B55C;
    @include leader(.2, $baseFontSize, margin);
    @include trailer(.3, $baseFontSize, margin);
    letter-spacing: .04em;
}

.title
  {
    h2
    {
          @include single-text-shadow(0, 2, 0, $orange);
    }
  }


.homeTitle h2
{
  margin-top: -.2em;
   @include adjust-font-size-to(16px);
   text-transform: capitalize;
   font-style:italic;
}

h3 
{
  @include leader(1, $baseFontSize, margin);
    @include adjust-font-size-to(21px); 
    color: $orange;
    @include single-text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur, $default-text-shadow-spread, $grayLight);
    letter-spacing: .049em;
}


h4 
{
  color: $white;
   text-shadow: transparent 0px 0px 0;
    @include adjust-font-size-to(16px);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .15em;
}



h5 
{
    @include leader(1, 16px, margin);
    @include adjust-font-size-to(16px); 
}

h6 
{
    @include leader(1, 14px, margin);
    @include adjust-font-size-to(14px); 
}



// ---------------------------------------------------------------------------
// TYPOGRAPHY

//BLOCKQUOTE

blockquote
{
  color: $gray;
  @include rhythm(1, 0, 0, 1, 18px);
  @include adjust-font-size-to(18px); 
  margin-left: $gutter-width;
  padding-left : $gutter-width;
  font-family : $altFontFamily;
  font-style: italic;
}

q 
  {
    quotes : none; 
    font-weight: 500;
    color:darken($grayDark, 10%);
    font-style: italic;
  }



blockquote:before,
blockquote:after,
q:before,
q:after 
{
  content : '';
  content : none; 
}

blockquote:before
{
  font-family: $altFontFamily;
  font-style:normal;
  content: "“";
  @include adjust-font-size-to(48px, 2, 14px);
  text-indent:-.5em;
  float:left;
  opacity:.3;
}

cite 
{
  display:block;
  text-transform:uppercase;
  font-style : normal; 
  font-weight:900;
  text-align: right;
  margin-right: $column-width;

  &:before
  {
    content:"- ";

  }
}



// ---------------------------------------------------------------------------
// LISTS

ul
{
  margin: 0 0 0 1em;
  list-style-position:outside;
  list-style-type:disc;

  .noStyle
  {
    list-style-type: none;
  }
}

li
  {
    @include margin-trailer(.5, $baseFontSize);
  }

ol
  {
    margin: 0 0 0 1.3em;
    padding: 0;
    list-style-position:outside;
    list-style-type:decimal;
  }

//DEFINITION LISTS

dl,
dd 
  {
    margin-bottom : $baseLineHeight;  
  }

dt 
  {
    font-weight : bold; 
  }

.dl-horizontal 
{

  dt 
  {
    float : left;
    clear : left;
    width : 20.25%;
    text-align : right; 
  }

  dd 
  {
    margin-left : 22.78%; 
  }
}



// ---------------------------------------------------------------------------
// TEXT-LEVEL

abbr[title] 
  {
    border-bottom : 1px dotted $borderColor;
    cursor : help; 
  }

b, strong 
  {
    font-weight : bold; 
  }

dfn 
  {
    font-style : italic; 
  }

ins 
  {
    background-color : lighten($baseColor, 75%);
    color : $baseTextColor;
    text-decoration : none; 
  }

mark 
  {
    background-color : lighten($baseColor, 75%);
    color : $baseTextColor;
    font-style : italic;
    font-weight : bold; 
  }

pre,
code,
kbd,
samp 
  {
    font-family : $codeFont;
     @include adjust-font-size-to(14px); 
  }

pre 
  {
    white-space : pre;
    white-space : pre-wrap;
    word-wrap : break-word; 
  }

sub,
sup 
  {
    position : relative;
    @include adjust-font-size-to(12px); 
    line-height : 0;
    vertical-align : $baseLineHeight; 
  }

sup 
  {
    top : -.5em; 
  }

sub 
  {
    bottom : -.25em; 
  }